body {
    background: #3b5998 !important;
}

.nav {
    border-radius: 0px !important;
    padding: 10px 0 10px 0 !important;
    background-color: #3b5998 !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.comment-box {
    display: none;
}

.rel-btn {
    width: 220px !important;
}

.center {
    text-align: center;
}

.button_h {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D;
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
}

.modal-description {
    padding: 20px;
}

.ui.modal.first {
    width: 35vw;
}
